@import "../../../../../scss//variables.scss";

.hr-dashboard-wrapper {
  display: flex;
  margin-right: 1rem;
}

.app-dashboard-view {
  flex: 0.9;
  background-color: $secondary-bg;
  border-radius: 2rem;
  margin-right: 0.5rem;
}

.app-applicant-card {
  flex: 0.3;
  border-radius: 2rem;
  background-color: $secondary-bg;
}

:host {
  width: inherit;
  overflow: hidden;
  height: 87vh;
}
