.hr-dashboard-wrapper {
  display: flex;
}

.app-dashboard-view {
  flex: 0.9;
  background-color: peachpuff;
  border-radius: 2rem;
  margin-right: 0.5rem;
}

.app-applicant-card {
  flex: 0.3;
  border-radius: 2rem;
  background-color: peachpuff;
}

:host {
  width: inherit;
  overflow: hidden;
  height: 87vh;
}
