@import "../../../scss/variables";

.top-nav{
    position: absolute;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row-reverse;
    gap: 0.2rem;
    padding: 0.5rem;

    & div:nth-of-type(2){
        flex-grow: 3;
        width: auto;
    }

    .search-bar{
        align-content: baseline;
    }

    .name{
        display: flex;
        flex-direction: row-reverse;
        width: auto;
        
    .user-name{
        position: relative;
        font-weight: $regular;
        padding: 0.5rem;
        top: 0.4rem;
    }

    .user-pill{
        background-color: $link-color-active-bg;
        color: $link-color-active;
        min-width: 3rem;
        min-height: 3rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: $bold;
    }
    }

    .header{
        width: auto;
        align-self: center;
    }
}

