@import "../../../scss/variables";

.top-nav{
    position: absolute;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row-reverse;
    gap: 0.2rem;
    justify-content: space-between;

    .name{
        display: flex;
        flex-direction: row-reverse;
        
    .user-name{
        position: relative;
        font-weight: $medium;
        padding: 0.5rem;
        top: 0.4rem;
    }

    .user-pill{
        background-color: $link-color-active-bg;
        color: $link-color-active;
        padding: 0.5rem 1rem;
        border-radius: 30px;
        font-size: 1.3rem;
        font-weight: $bold;
    }
    }

    .header{
        align-self: center;
    }
}

