@import "../../../../scss/variables";

.applicant-card-wrapper {
  padding: 2rem 1rem 1rem 2rem;
  position: relative;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;

  h5 {
    font-size: $p-font-size-large;
    font-weight: $extra-bold;
    text-transform: capitalize;
  }

  h6 {
    font-size: $p-font-size-tiny;
    font-weight: $bold;
    color: $secondary-text-color;
  }

  .user-pill {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    margin: 0px;
    border-radius: 50%;
    background-color: lightgrey;
  }
}

.candidate-detail {
  table {
    width: 100%;
    text-align: center;
    height: 100%;

    .sub-head {
      text-align: right;
      padding-right: 0.5rem;
      line-height: 2rem;
      color: $secondary-text-color;
      font-size: $p-font-size-tiny;
      font-weight: $bold;
    }

    .answer {
      text-align: left;
      padding-left: 0.5rem;
      font-size: $p-font-size-small;
      font-weight: $bold;
    }
  }
}

.interview-review-wrapper {
  .interview {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    margin-bottom: 1rem;
    padding: 0.5rem;
    box-shadow: 1px 1px 3px 0px;
    transition: box-shadow 500ms;
    border-radius: 10px;
    font-size: $p-font-size-tiny;
    font-weight: $extra-bold;

    .show-more {
      color: $secondary-text-color;
      font-size: $p-font-size-extra-small;
      font-weight: $extra-bold;
    }
  }

  .interview:hover {
    box-shadow: inset 1px 1px 3px 0px;
  }

  .interview-review {
    display: none;
  }

  .show-review {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 86vh;
    overflow-y: scroll;
    background-color: $secondary-bg-color;
    z-index: 100;
    border-radius: 2rem;
    padding: 2rem 1rem 0rem 2rem;
  }

  .interviewer-review {
    .sub-head {
      font-size: $p-font-size-medium;
      font-weight: $extra-bold;
    }

    .review {
      line-height: 2rem;

      .skill-header {
        font-size: $p-font-size-small;
        font-weight: $bold;
        margin: 0px;
        padding: 0%;
      }

      .skill-value {
        font-size: $p-font-size-small;
        margin: 0px;
        padding: 0%;
      }

      .skill-category {
        margin-top: 1rem;
        margin-left: 3rem;
      }
    }
  }

  .interviewer-review:not(:nth-child(2)) {
    margin-top: 2rem;
  }
  .button-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-around;

    .btn {
      font-size: $p-font-size-small;
      font-weight: $extra-bold;
    }
  }
}
