<div class="applicant-card">
  <div class="card">
    <div class="header-section">
      <div class="name">
        <h5>{{data.Name}}</h5>
        <h6>{{data.AppliedFor}}</h6>
      </div>
      <div class="profile">
        <span class="user-pill">{{data.Name[0]}}</span>
      </div>
    </div>
    <div class="row info">
      <h6>Id: {{data.applicantId}}</h6>
      <h6>LastEmployer: {{data.LastEmployer}}</h6>
      <h6>Designation: {{data.Designation}}</h6>
      <h6>AppliedFor: {{data.AppliedFor}}</h6>
      <h6>ReferedBy: {{data.ReferredBy}}</h6>
      <h6>MedicalStatus: {{data.MedicalStatus}}</h6>
      <h6>NoticePeriod: {{data.NoticePeriod}}</h6>
    </div>
    <div class="review-status-bar">
      <p>
        <button
          class="btn btn-primary review-btn"
          type="button"
          data-toggle="collapse"
          data-target="#collapseExample"
          aria-expanded="false"
          aria-controls="collapseExample"
        >
          View Review
        </button>
      </p>
      <div class="collapse" id="collapseExample">
        <div class="card bg-white">
          <div class="card-header">
            Interview Id: 1
          </div>
          <div class="card-body">
            <div class="review-part">
              <p>Pros: </p>
              <p>Cons: </p>
              <p>Comments: </p>
              <p class="status">Status: </p>
              <p>Skill: </p>
              <div class="skill-set">
                <div class="card card-body">
                  <h6 class="card-title">
                    <div>Skill Categoryid: 1</div>  <div>Skill Name: SoftSkill</div>
                  </h6>
                  <div class="card-text">
                    <p>Skill Name: </p>
                    <p>Rating: </p>
                  </div>
                </div>
                <p class="skill-title"></p>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="result-btn mb-3 mt-2">
          <button
          type="button"
          class="btn btn-danger btn-lg btn-block btn-promote"
        >
          Reject
        </button>
        <button
        type="button"
        class="btn btn-primary btn-lg btn-block btn-promote"
      >
        Promote
      </button>
      </div>
    </div>
