<div class="applicant-card-wrapper">
  <div class="header-wrapper">
    <div class="name">
      <h5>{{ data.Name }}</h5>
      <h6>{{ data.AppliedFor }}</h6>
    </div>
    <span class="user-pill"> {{ data.Name[0] }}</span>
  </div>
  <hr />

  <div class="candidate-detail">
    <table>
      <tr>
        <td class="sub-head">Last Employee</td>
        <td class="answer">{{ data.LastEmployer }}</td>
      </tr>
      <tr>
        <td class="sub-head">Applied For</td>
        <td class="answer">{{ data.AppliedFor }}</td>
      </tr>
      <tr>
        <td class="sub-head">ReferedBy</td>
        <td class="answer">{{ data.ReferedBy }}</td>
      </tr>
      <tr>
        <td class="sub-head">Medical History</td>
        <td class="answer">{{ data.MedicalStatus }}</td>
      </tr>
      <tr>
        <td class="sub-head">Notice Period</td>
        <td class="answer">{{ data.NoticePerio }}</td>
      </tr>
    </table>
  </div>

  <hr />

  <div class="interview-review-wrapper">
    <div
      class="interview"
      *ngFor="let interview of data.InterviewDetails; index as i"
      (click)="openInterviewReview(i)"
    >
      <div class="">
        <p>{{ interview.InterviewRoundName }}</p>
        <p>{{ interview.result }}</p>
      </div>

      <p class="show-more">show more</p>

      <div id="interview-review-{{ i }}" class="interview-review">
        <div (click)="openInterviewReview(i)">close</div>

        <div
          class="interviewer-review"
          *ngFor="let review of interview.interviewReview"
        >
          <p class="sub-head">{{ review.Name }}</p>

          <table class="review-table">
            <tr class="review">
              <td class="skill-header">Pros:</td>
              <td class="skill-value">{{ review.Pros }}</td>
              <td></td>
            </tr>

            <tr class="review">
              <td class="skill-header">Cons:</td>
              <td class="skill-value">{{ review.Cons }}</td>
              <td></td>
            </tr>

            <tr class="review">
              <td class="skill-header">Comments:</td>
              <td class="skill-value">{{ review.Comments }}</td>
              <td></td>
            </tr>
          </table>

          <div class="review">
            <p class="skill-header">Skill Rating:</p>
            <div class="skill-category" *ngFor="let skill of review.skill">
              <p class="skill-header">{{ skill.skillName }}</p>
              <table class="table-hover">
                <tr *ngFor="let skillset of skill.skillset">
                  <td>{{ skillset.skillname }}</td>
                  <td>{{ skillset.rating }}</td>
                </tr>
              </table>
            </div>
          </div>

          <hr />
        </div>
      </div>
    </div>
    <div class="button-wrapper">
      <button class="btn bg-transparent text-danger">Reject</button>
      <button class="btn bg-transparent text-success">Promote</button>
    </div>
  </div>
</div>
