@import "../../../../scss/variables";

.search-bar{
    input{
        border-radius: 5rem;
        border: none;
        box-shadow: 0 2px 2px 0 rgb(136 148 171 / 20%), 0 24px 20px -24px rgb(71 82 107 / 10%);

        &.form-control{
            border-right: none;
        }

        &:focus{
            color: #212529;
            background-color: #fff;
            border: none;
            box-shadow: 0 2px 2px 0 rgb(136 148 171 / 20%), 0 24px 20px -24px rgb(71 82 107 / 10%);
        }
    }

    .search-icon{
        border-radius: 5rem;
        border: none;
        box-shadow: 0 2px 2px 0 rgb(136 148 171 / 20%), 0 24px 20px -24px rgb(71 82 107 / 10%);
    }
}
