<form class="add-interview-wrapper">
  <div class="form-group select-interviewer">
    <small class="add-interview-label" for="">Select the interviewer</small>

    <input
      type="datetime-local"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      placeholder="Enter email"
      value="{{ interviewAt }}"
    />
  </div>

  <div class="form-group select-interviewer">
    <small class="add-interview-label" for="">Select the interviewer</small>

    <div class="btn-group">
      <button
        type="button"
        class="btn btn-secondary dropdown-toggle"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Interviewer
      </button>

      <div class="dropdown-menu dropdown-menu-right">
        <input
          type="text"
          minlength="10"
          class="form-control"
          placeholder="search interviewer"
        />

        <button class="dropdown-item" type="button">Action</button>
        <button class="dropdown-item" type="button">Another action</button>
        <button class="dropdown-item" type="button">Something else here</button>
      </div>
    </div>
  </div>
</form>
