<form
  class="form-wrapper"
  autocomplete="off"
  [formGroup]="applicantForm"
  (ngSubmit)="onSubmit()"
>
  <h5 class="text-primary mt-0 mb-0">Applicant Details</h5>
  <hr />

  <div class="row align-items-center">
    <div
      class="col-12 col-md-4 form-group"
      [ngClass]="{ 'has-error': formErrors.name }"
    >
      <span class="help-block text-danger" *ngIf="formErrors.name">
        {{ formErrors.name }}
      </span>
      <input
        type="text"
        class="form-control"
        name="name"
        formControlName="name"
        (blur)="logValidationErrors()"
      />
      <label class="form-lable" for="name">Name *</label>
    </div>
  </div>

  <div class="row align-items-center mt-2">
    <div
      class="col-12 col-md-4 form-group"
      [ngClass]="{ 'has-error': formErrors.lastEmployer }"
    >
      <span class="help-block text-danger" *ngIf="formErrors.lastEmployer">
        {{ formErrors.lastEmployer }}
      </span>
      <input
        type="text"
        class="form-control"
        name="lastemployer"
        formControlName="lastEmployer"
        (blur)="logValidationErrors()"
      />
      <label class="form-lable" for="lastemployer">Last Employer *</label>
    </div>
    <div
      class="col-12 col-md-4 second-lable form-group"
      [ngClass]="{ 'has-error': formErrors.lastDesignation }"
    >
      <span class="help-block text-danger" *ngIf="formErrors.lastDesignation">
        {{ formErrors.lastDesignation }}
      </span>
      <input
        type="text"
        class="form-control"
        name="lastdesig"
        formControlName="lastDesignation"
        (blur)="logValidationErrors()"
      />
      <label class="form-lable" for="lastdesig">Last Designation *</label>
    </div>
  </div>

  <div class="row align-items-center mt-2">
    <div
      class="col-12 col-md-4 form-group"
      [ngClass]="{ 'has-error': formErrors.appliedFor }"
    >
      <span class="help-block text-danger" *ngIf="formErrors.appliedFor">
        {{ formErrors.appliedFor }}
      </span>
      <input
        type="text"
        class="form-control"
        name="appliedfor"
        formControlName="appliedFor"
        (blur)="logValidationErrors()"
      />
      <label class="form-lable" for="appliedfor">Applied For *</label>
    </div>

    <div
      class="col-12 col-md-4 form-group second-lable"
      [ngClass]="{ 'has-error': formErrors.noticePeriod }"
    >
      <span class="help-block text-danger" *ngIf="formErrors.noticePeriod">
        {{ formErrors.noticePeriod }}
      </span>
      <input
        type="text"
        class="form-control"
        name="noticeperiod"
        formControlName="noticePeriod"
        (blur)="logValidationErrors()"
      />
      <label class="form-lable" for="noticeperiod">Notice Period *</label>
    </div>
  </div>

  <div class="row align-items-center mt-2">
    <div class="col-12 col-md-4 form-group">
      <input
        type="text"
        class="form-control"
        name="medicalstatus"
        formControlName="medicalStatus"
      />
      <label class="form-lable" for="medicalstatus"
        >Medical history, If any</label
      >
    </div>

    <div class="col-12 col-md-4 form-group second-lable">
      <input
        type="text"
        class="form-control"
        name="referedby"
        formControlName="referedBy"
      />
      <label class="form-lable" for="referedby">Refered By</label>
    </div>
  </div>

  <div
    class="row align-items-center mt-2"
    [ngClass]="{ 'has-error': formErrors.resume }"
  >
    <div class="col-12 col-md-4 form-group">
      <input
        type="file"
        class="file-input"
        (change)="onFileSelected($event)"
        accept=".pdf,.doc"
        #fileUpload
        formControlName="resume"
        (blur)="logValidationErrors()"
      />

      <div class="file-upload">
        {{ fileName || "No file uploaded yet." }}

        <button
          mat-mini-fab
          color="primary"
          class="upload-btn btn btn-primary"
          (click)="fileUpload.click()"
        >
          <i class="fa fa-paperclip"></i>
        </button>
      </div>
      <label class="form-lable" for="resume">Resume *</label>
    </div>
  </div>
  <span class="help-block text-danger" *ngIf="formErrors.resume">
    {{ formErrors.resume }}
  </span>

  <br />
  <div class="action-btn">
    <button
      type="button"
      class="btn btn-danger"
      (click)="applicantForm.reset()"
    >
      Clear Form
    </button>
    <input
      type="submit"
      class="btn btn-primary"
      [disabled]="applicantForm.invalid"
      value="Submit"
    />
  </div>
</form>
