<div class="card-view-container">
  <span class="applied-date">{{ candidateDetail.CreatedOn }}</span>

  <div class="candidate-box">
    <div class="candidate-box-name">{{ candidateDetail.Name }}</div>
    <div class="candidate-box-designation">
      {{ candidateDetail.AppliedFor }}
    </div>
  </div>

  <div class="progress-box">
    <div class="progress-bar">
      <li
        class="progress-step"
        *ngFor="let item of interviewRoundData; index as i"
        [ngClass]="
          item.roundOrder < candidateDetail.CurrentRound
            ? 'progress-step-completed'
            : ''
        "
      >
        <svg
          class="circle"
          [ngClass]="
            item.roundOrder < candidateDetail.CurrentRound
              ? 'round-completed'
              : ''
          "
        ></svg>
      </li>
    </div>

    <span class="progress-box-round-header">{{
      currentRoundName.roundName
    }}</span>
  </div>

  <div class="days-left-box">
    <div id="interviewer-wrapper" class="interviewer-wrapper">
      <div id="test">
        <div
          class="interviewer"
          *ngFor="let item of candidateDetail.Interview; index as i"
        >
          {{ item.interviewName[0] }}
        </div>
      </div>

      <button
        class="add-button btn-primary"
        type="button"
        data-toggle="modal"
        data-target="#addInterviewModal"
      >
        <i class="far fa-plus"></i>
      </button>
    </div>

    <div class="days-left">
      <div class="day-container">
        <span *ngIf="interviewDayCount; else notScheduled">
          {{ interviewDayCount }} Days left
        </span>
        <ng-template #notScheduled class="day-container">
          <span>Not Scheduled</span>
        </ng-template>
      </div>
    </div>
  </div>

  <app-modal modalName="addInterviewModal">
    <app-add-interviewer-form></app-add-interviewer-form>
  </app-modal>
</div>
