<div class="dashboard-container">
  <div class="interview-progress-wrapper">
    <div class="interview-progress">
      <span class="header">Interviews</span>
      <div class="schedule-detail">
        <div class="interview-in-progress">
          <p class="sub-header">45</p>
          <p class="text">In Progress</p>
        </div>
        <div class="interview-scheduled">
          <p class="sub-header">25</p>
          <p class="text">Scheduled</p>
        </div>
        <div class="non-scheduled">
          <p class="sub-header">20</p>
          <p class="text">Non-Scheduled</p>
        </div>
      </div>
    </div>
    <div class="right-section-wrapper">
      <span class="text">Decemeber,12</span>
      <div class="dropdown">
        <button
          type="button"
          class="btn btn-secondary dropdown-toggle"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Interviews
        </button>
        <div class="dropdown-menu dropdown-menu-right">
          <button
            class="dropdown-item"
            type="button"
            (click)="filterCandidateList('a')"
          >
            All
          </button>
          <button
            class="dropdown-item"
            type="button"
            (click)="filterCandidateList('s')"
          >
            Scheduled
          </button>
          <button
            class="dropdown-item"
            type="button"
            (click)="filterCandidateList('ns')"
          >
            Non-Scheduled
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="card-view-container">
    <div class="card-view-wrapper">
      <app-card-view
        *ngFor="let item of list"
        [candidateDetail]="item"
      ></app-card-view>
    </div>
  </div>
</div>
