/* You can add global styles to this file, and also import other style files */
$primary-bg: #F3F6FD;
$secondary-bg: #FFFFFF;
$card-bg: #D7DDFE;
$primary-text: #363243;
$secondary-text: #818181;

*{
    box-sizing: border-box;
}

body{
    background-color: $primary-bg;
    color: $primary-text;
}