/* You can add global styles to this file, and also import other style files */
@import "colours";

*{
    box-sizing: border-box;
}

body{
    background-color: $primary-bg;
    color: $primary-text;
}