/* You can add global styles to this file, and also import other style files */
@import "variables";

* {
  box-sizing: border-box;
}

body {
  color: $primary-text;
  background-color: $primary-bg;
  font-size: 14px;
}

p {
  margin: 0px;
  padding: 0px;
}

h3 {
  margin: 0px;
  padding: 0px;
}

h5 {
  margin: 0px;
  padding: 0px;
}

h6 {
  margin: 0px;
  padding: 0px;
}
