$primary-bg: #F3F6FD;
$secondary-bg: #FFFFFF;
$card-bg: #D7DDFE;
$primary-text: #363243;
$secondary-text: #818181;
$link-color-hover-bg: #c3cff4;
$link-color-active-bg: #1f1c2e;
$link-color-active: #fff;


$primary-text-size: 1.2rem;
$secondary-text-size: 1rem;
$bold: 700;
$medium: 500;