$primary-bg-color: #f3f6fd;
$secondary-bg-color: #ffffff;
$card-bg-color: #d7ddfe;
$primary-text-color: #363243;
$secondary-text-color: #818181;
$light-text-color: #ffffff;
$link-color-hover-bg: #c3cff4;
$link-color-active-bg: #1f1c2e;
$link-color-active: #fff;

$p-font-size-extra-small: 0.6rem;
$p-font-size-tiny: 0.857rem; //12px
$p-font-size-small: 1rem; //14px
$p-font-size-medium: 1.142rem; // 16px
$p-font-size-large: 1.285rem; // 18px
$h1-font-size-small: 1.428rem; //20px

$bold: 600;
$extra-bold: 700;
$dark: 500;
$regular: 400;
$light: 300;
$extra-light: 300;
